.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.light {
  color: #777;
}
